@model IEnumerable<HotelManagementSystem.Models.BookingStatus>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.BookingStatusId }) @:|
                        @Html.ActionLink("Details", "Details", new { id = item.BookingStatusId }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.BookingStatusId })
                    }
                    else
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.BookingStatusId })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
